@model TDE.Models.Campanha

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Campanha</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idCampanha" class="control-label"></label>
                <input asp-for="idCampanha" class="form-control" />
                <span asp-validation-for="idCampanha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idSugestao" class="control-label"></label>
                <input asp-for="idSugestao" class="form-control" />
                <span asp-validation-for="idSugestao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idAvaliacao" class="control-label"></label>
                <input asp-for="idAvaliacao" class="form-control" />
                <span asp-validation-for="idAvaliacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="responsavel" class="control-label"></label>
                <input asp-for="responsavel" class="form-control" />
                <span asp-validation-for="responsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="periodo" class="control-label"></label>
                <input asp-for="periodo" class="form-control" />
                <span asp-validation-for="periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorPremio" class="control-label"></label>
                <input asp-for="valorPremio" class="form-control" />
                <span asp-validation-for="valorPremio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
